<div class = "ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid crud-form">
      <p-panel header="Add Region">
          <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
            <div class="ui-g">
                <div class="ui-g-12">
                  <div class = "error-message jw-text-danger">
                    <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger">You must enter a region.</div>
                    <div *ngIf="complexForm.controls['cityId'].hasError('required') && complexForm.controls['cityId'].touched" class="alert alert-danger">Please select city.</div>
                    <div *ngIf="complexForm.controls['stateId'].hasError('required') && complexForm.controls['stateId'].touched" class="alert alert-danger">Please select state.</div>
                    <div *ngIf="complexForm.controls['countryId'].hasError('required') && complexForm.controls['countryId'].touched" class="alert alert-danger">Please select country.</div>
                  </div>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="text" class="form-control" id="name" [formControl]="complexForm.controls['name']"  name="name" pInputText required>
                        <label for="name">Region</label>
                    </span>
                </div>

                <div class="ui-g-12">
                  <p-dropdown [options]="cities" [autoWidth]="false" [formControl]="complexForm.controls['cityId']" name = "cityId" required [filter]="true"></p-dropdown>
                </div>

                <div class="ui-g-12">
                  <p-dropdown [options]="states" [autoWidth]="false" [formControl]="complexForm.controls['stateId']" name = "stateId" required [filter]="true"></p-dropdown>
                </div>

                <div class="ui-g-12">
                  <p-dropdown [options]="countries" [autoWidth]="false" [formControl]="complexForm.controls['countryId']" name = "countryId" required [filter]="true"></p-dropdown>
                </div>
            </div>
            <div class = "ui-g">
                <div class="ui-g-12 ui-md-6">
                  <button type="button" label="Back" icon="ui-icon-arrow-back" (click) = "back()" pButton></button>
                </div>
                <div class="ui-g-12 ui-md-6">
                  <button type="submit" label="Submit" icon="ui-icon-send" pButton class = "ui-button-info" [disabled]="!complexForm.valid"></button>
                </div>
            </div>
          </form>
      </p-panel>
  </div>
</div>
